

/* ==========================================================================
Author's custom styles
========================================================================== */


.span4 {
  width: 270px;
}

.inside {
  border-top: 3px solid gray;
  padding: 10px 0px 10px 10px;
  height: 40px;
  background-color: black;
  color: #25FF0D;
  font-size: 12px;
  font-family: monospace;
}

.btn {
  margin-top: 15px;
}

.btns {
  margin-top: 5px;
}

.pointer-false {
  color: #25FF0D;
}

.pointer-true {
  color: #FFFFFF;
  text-decoration: underline;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

