<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
      <!--[if gt IE 8]><!--> <html class="no-js" ng-app> <!--<![endif]-->
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <title></title>
          <meta name="description" content="">
          <meta name="viewport" content="width=device-width">

          <link rel="stylesheet" href="css/bootstrap.min.css">
          <style>
            body {
              padding-top: 60px;
              padding-bottom: 40px;
            }
          </style>
          <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
          <link rel="stylesheet" href="css/main.css">

          <script src="js/vendor/angular.min.js"></script>
          <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
          <script src="js/vendor/jquery-1.9.1.min.js"></script>
        </head>
        <body>
          <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
          <![endif]-->

          <div class="container" ng-controller="StackMachine">

            <div class="hero-unit">
              <h1>Stack Machine</h1>
            </div>

            <div id="inputcmd" class="navbar-inner">
              <form class="navbar-form pull-left" ng-submit="incmdPush()">
                <input type="text" class="span2" id="text1" ng-model="pushText" placeholder="Enter a command"/>
                <button type="submit" class="btn btns">Insert</button>
              </form>
            </div>

            <div class="row">

              <div class="span4">
                <h2>Input</h2>
                <div class="inside" id="insinput">
                  <div class="item" ng-repeat="item in incmd">
                    <span>{{item.command}} {{item.param}}</span>
                  </div>
                </div>
                <p>
                <a class="btn"  id="btnload" ng-click="incmdLoad()">load &raquo;</a>
                <a class="btn" id="btnclear" ng-click="incmdClean()">clear</a>
                </p>
              </div>

              <div class="span4">
                <h2>Bytecode</h2>
                <div class="inside" id="insbytec">
                  <div class="item" ng-repeat="item in bytecodes">
                    <span class="pointer-{{item.pointer}}">{{item.command}} {{item.param}}</span>
                  </div>
                </div>
                <p>
                <a class="btn" ng-click="bytecodesNext()" id="btnext">next &raquo;</a>
                <a class="btn" ng-click="bytecodesReset()" >reset</a>
                </p>
              </div>

              <div class="span4">
                <h2>Stack</h2>
                <div class="inside" id="insstack">
                  <div class="item" ng-repeat="item in stack">
                    <span>{{item}}</span>
                  </div>
                </div>
              </div>

              <div class="span4">
                <h2>Record</h2>
                <div class="inside" id="insrecord">
                  <div class="item" id="itemrecord"ng-repeat="item in record">
                    <span>{{item.varname}} -> {{item.varvalue}}</span>
                  </div>
                </div>
              </div>

            </div>

            <footer style="text-align: center; right: 0; left: 0; bottom: 0; border-top: 1px solid #E5E5E5; padding: 10px 0px 5px 0px; margin-top: 100px;">
            <p>&copy; 2013 - <a href="http://www.josuess.org">Josué</a></p>
            </footer>

          </div> <!-- /container -->

          <!-- auto resize outputs -->
          <script>
            $(document).ready(function () {

              resizedown = function(ndiv) {
                var size = $(ndiv).css("height");
                var nsize = parseInt(size.substring(0, size.indexOf("p")));
                nsize+=20;
                $(ndiv).css("height", nsize + "px");
              };

              resizeup = function(ndiv) {
                var size = $(ndiv).css("height");
                var nsize = parseInt(size.substring(0, size.indexOf("p")));
                nsize-=20;
                $(ndiv).css("height", nsize + "px");
              };

              $(".btns").click(function () {
                var iinput = $("#insinput > div").size();
                var textvalue = $("#text1").val();

                if (validate(textvalue)) {
                  if (iinput >= 2) {
                    resizedown("#insinput")
                  } else $("#insinput").css("height", 40 + "px");
                }
              });

              $("#btnload").click(function () {
                var iinput = $("#insinput > div").size();
                var ibytec = $("#insbytec > div").size();

                if (iinput < 3) resizeup("#insinput");
                if (ibytec > 2) resizedown("#insbytec");
              });

              $("#btnclear").click(function () {
                $("#insinput").css("height", 40 + "px");
              });

              $("#btnext").click(function () {
                var istack = $("#insstack > div").size();
                var irecord = $("#insrecord > div").size();

                if (istack < 3) $("#insstack").css("height", 40 + "px");
                else if (istack > 2) resizedown("#insstack");
                if (irecord < 3) $("#insrecord").css("height", 40 + "px");
                else if (irecord > 2) resizedown("#insrecord");
              });

            });
          </script> <!-- /auto resize outputs -->

          <!--main script-->
          <script src="js/stackmachine.js"></script><!--/main script-->

          <script src="js/vendor/bootstrap.min.js"></script>
          <script src="js/plugins.js"></script>
          <script src="js/main.js"></script>

        </body>
      </html>
